.contenedor{
    display: flex;
    height: 200px;
    background-color: aquamarine;
}
.caja_arriba {
    align-self: flex-start;}
.caja_medio {
    align-self:  center;}
    .caja_abajo {
        align-self:flex-end;}